.topnav {
	overflow: hidden;
	background-color: #35363A;
	position: relative;
	margin-right: 0;
}
.topnav #myLinks {
	display: none;
}
.topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}
.topnav a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
.topnav a:hover {
	background-color: #B7B7B7;
	color: black;
}
.active {
	margin-right: 0;
}
.currentPage {
	background-color: #505050;
	color: white;
}