html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa';
	font-size:14;
	background-color: #202945;
}
#container {
	height: 100%;
	display: flex;
	background: #202945;
	width: 100%;
	-webkit-text-size-adjust: none;
	touch-action: pan-y;
}
#sidebar {
	flex-basis: 15rem;
	flex-grow: 1;
	padding: 1px;
	height: 100%;
	box-sizing: border-box;
	overflow: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}
#darkable, #underline {
	font-size: 1.2rem;
	margin: 0px 0px 0px 0px;
	flex-grow: 0;
	color: #C0C0C0;
}
#underline {
	border-bottom: 1px solid grey;
}
tr {
	font-size: 16px;
	background-color: #c6cfea;
	margin-bottom: 10px;
	width: 100%;
	list-style-type: none;
}
tr:hover {
	box-shadow: inset -1em 0 #8b9dc3;
	-webkit-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
	font-family: 'Comfortaa';
}
tr:nth-of-type(even):hover {
	box-shadow: inset -1em 0 #aaa;
	-webkit-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
	font-family: 'Comfortaa';
}
ul {
	list-style-type: none;
	list-style-type: decimal !ie;
	margin: 0;
	margin-left: 0;
	padding: 1px;
	counter-reset: li-counter;
	font-family: 'Comfortaa';
	font-size: 15px;
}
li {
	font-size: 18px;
	padding: 10px;
	background-color: #c6cfea;
	margin-bottom: 10px;
	border-radius: 4px;
	list-style-type: none;
}
ul li:nth-of-type(even) {
	background-color: #d3d3d3;

}