html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa';
	background-color: #e8f3fd;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wrapper {
	background-color: #ffffff;
	padding: 2%;
	width: 25%;
	min-width:350px;
	margin: 0 auto;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 0 5px #ccc;
	border: 1px solid #fff;
	background-image: linear-gradient(to right, rgba(255,255,255, 0.9) 0 100%), url("../icons/form_bg.jpg");
	background-size: cover;
}
.t {
	background-color: #c6cfea;
}
button {
	padding: 4px;
}
button:hover {
	background-color: rgba(218, 218, 218);
}
.btn-primary {
	margin-left: 30px;
	margin-top: 5px;
}
#container {
	height: 100%;
	display: flex;
	background: #FFFFFF;
	/* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6cfea ', endColorstr='#DFEAF3 ');
	/* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#c6cfea), to(#DFEAF3));
	/* for webkit browsers */
	background: -moz-linear-gradient(top, #c6cfea, #DFEAF3);
	/* for firefox 3.6+ */
	width: 100%;
	-webkit-text-size-adjust: none;
	touch-action: pan-y;
	/*prevent user scaling*/
}
h1,h2 {
	font-size: 1.5rem;
	margin: 0px 0px 0px 0px;
	flex-grow: 0;
}
