html, body {
  height: 100% !important;
}
body {
  display: flex !important;
  flex-direction: column !important;

  
}
.content {
  flex: 1 0 auto !important;
  
}
#header, #footer, header {
  flex-shrink: 0 !important;
  width: 100% !important; 
}

#space {
	height: 0% !important;
}
html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa';
	background-color: #202945;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto; 
}
.center-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	border: 3px solid green;
}

#user-pic {
	border-radius: 50px;
	margin: auto;
	display: block;
	width: 25%;
}

.btn-outline-warning {
	color: #FF8C00;
}
.wrapper {
	/*background-color: #35363A*/
	background-image: linear-gradient(to right, rgba(53, 54, 58, 0.96) 0 100%), url("https://www.donttrip.org/donttrip/icons/form_bg.jpg");
	padding: 2%;
	width: 25%;
	min-width:350px;
	margin: 5% auto;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 0 5px #ccc;
	border: 1px gray;
	background-size: cover;
}
#info, 
#two_factor_response, 
#clear_response,
#two_factor_div {
	color: #D3D3D3;
}
button {
	padding: 4px;
}
button:hover {
	background-color: rgba(218, 218, 218);
}
.btn-primary {
	margin-left: 30px;
	margin-top: 5px;
}

#usernav {
	color: #D3D3D3;
}

.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 21px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 2px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: green;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}