html, body {
	background-color: blue;
}
body {
	background-color: #f7fef6;
	text-align: center;
}
table {
	margin: auto auto;
	font-size: large;
	border: 1px solid black;
}
h1 {
	text-align: center;
	color: #black;
	font-size: xx-large;
	font-family: "Gill Sans", "Gill Sans MT", " Calibri", "Trebuchet MS","sans-serif";
}
td {
	background-color: #e8f3fd;
	border: 1px solid black;
}
.tt {
	color: #007bff;
	text-align: center;
	background-color: transparent;
	border: 0 none;
	margin-top: 25%;
}
.tt:hover {
	text-decoration: underline;
}
th,td {
	font-weight: bold;
	border: 1px dotted black;
	padding: 10px;
	text-align: center;
}
td {
	font-weight: lighter;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
*,*::before,*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Quicksand", sans-serif;
	display: grid;
	place-items: center;
	height: 100vh;
	background: #e8f3fd;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;
	margin-block: 2rem;
	gap: 2rem;
}
img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}
.card {
	display: flex;
	flex-direction: column;
	width: clamp(20rem, calc(20rem + 2vw), 22rem);
	overflow: hidden;
	box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
	border-radius: 1em;
	background: #ece9e6;
	background: linear-gradient(to right, #ffffff, #ece9e6);
}
.card__body {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.tag {
	align-self: flex-start;
	padding: 0.25em 0.75em;
	border-radius: 1em;
	font-size: 0.75rem;
}
.tag-blue {
	background: #56ccf2;
	background: linear-gradient(to bottom, #2f80ed, #56ccf2);
	color: #fafafa;
}
.tag-white {
	background: #56ccf2;
	background: white;
	color: #fafafa;
	font-size: 2rem;
}
.tag-brown {
	background: #d1913c;
	background: linear-gradient(to bottom, #ffd194, #d1913c);
	color: #fafafa;
}
.tag-red {
	background: #cb2d3e;
	background: linear-gradient(to bottom, #ef473a, #cb2d3e);
	color: #fafafa;
}
.card__body h4 {
	font-size: 1.5rem;
	text-transform: capitalize;
}
.card__footer {
	padding: 1rem;
	margin-top: auto;
}
.user {
	display: flex;
	gap: 0.5rem;
}
.user__info > small {
	color: #666;
}
textarea {
	resize: none;
}