@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
*,*::before,*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html, body {
	text-align: center;
	font-family: 'Comfortaa';
	width: 100%;
	height: 100%;
	background-color: #202945;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
.info-bar {
	text-align: center;
	color: #666;
	font-size: 15px;
	padding-bottom: 15px;
}
.card {
	display: inline-block;
	gap: 2rem;
	margin: auto;
	width: clamp(20rem, calc(20rem + 2vw), 22rem);
	overflow: hidden;
	box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
	border-radius: 1em;
	border: 1px solid gray;
	background-color: #35363A;
}
.card_body {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
#info {
	color: #C0C0C0;
}
.card_body h4 {
	font-size: 1.5rem;
	text-transform: capitalize;
}
.card_footer {
	padding: 1rem;
	margin-top: auto;
}